*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: brown;
}
.heading{
    background-color: cornflowerblue;
}
p{
    /* background-color: rgba(250, 91, 25, 0.5); */
    background: linear-gradient(45deg, blue,white,red);
    padding: 10px;
    margin: 10px;

}
h2{
    background: linear-gradient(45deg, blue,white,red);
}