*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: brown;
}
.heading{
    background-color: cornflowerblue;
}
p{
    background-color: rgba(250, 91, 25, 0.5);
    padding: 10px;
    margin: 10px;
}