*{
    margin:0%;
    padding: 0%;
}
body{
    background-image: url(./img/3.jpg) ;
    background-size: cover;
}
h1{
    background-color: brown;
}
/* ----------------BOX Model----------- */
/* -----------top right bottom left------------- */
p{
    background-color: beige;
    margin: 5px 0px 5px 5px;
    text-align: justify;
    padding: 10px;
    border-radius: 20px;
}
