*{
    margin: 0%;
    padding: 0%;
}
nav{
    background-color: rgb(138, 241, 207);
    padding-top: 20px;
    padding-bottom: 20px;
    /* position: fixed; */
    /* text-align: justify; */

}
input{
    text-align: center;
}

a{
    margin: 10px;
    padding:10px;
    text-decoration: none;
}
a:hover{
    background-color: rgb(233, 252, 151);
    color: rgb(39, 38, 35);
    border-radius: 10px;
}

/*--------------------------- */
section{
    padding: 20px;
    background-color: brown;
}
article{
    background-color: coral;
    padding: 20px;
    margin: 20px;
}
h3{
    color: white;
    padding: 10px;
}
p{
    padding: 10px;
    text-align: justify;
}
details{
    padding: 20px;
}
summary{
    
}
.para1{
    background-color: black;
    color: white;
}
.info{
    display: inline-block;
}
footer{
    background-color: brown;
}