*{
    margin: 0%;
    padding: 0%;
}
Nav{
    background-color: aquamarine;
    padding-top: 10px;
    padding-bottom: 10px;
    /* text-align: justify; */

}
a{
    margin: 30px;
    padding:10px;
    text-decoration: none;
}