 
    fieldset{
        background-color: lightgreen;
        width: 400px;
        height: 500px;
    }
    legend{
        background-color: lightpink;
        border-radius: 20px;
        padding: 10px;

    }
    button{
        background-color:white;
        border: none;
        color: black;
        padding: 15px 50px;
        margin-left: 80px;
        border-radius: 20px;
        text-align: center;
        
        
    }
    input{
        border-radius: 20px;
        padding:5px;
        text-align: center;

    }
    
